body {
	font-family: 'Noto Sans', sans-serif;
	background: #900009;
	color: #fff;
}

.container {
	position: relative;
}

header.jumbotron {
	background: #C12C1E;
	border-radius: 24px;
}

p {
	font-family: 'Space Mono', monospace;
	padding-top: 10px;
	font-size: 18px;

}


h1 {
	font-family: 'Space Mono', monospace;
	font-style: bold;
	font-size: 22px;
	text-align: center;
	position: relative;
	letter-spacing: 8px;
}

h3 {
	font-family: 'Space Mono', monospace;
	color: orange;
	padding-right: 10px;
	padding-bottom: 10px;
}

